In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from shapely.geometry import Point
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings(action='ignore')

import folium
import re
from tqdm import tqdm

In [15]:
As_data = pd.read_csv('data/mine_As.csv')
Cd_data = pd.read_csv('data/mine_Cd.csv')
Ni_data = pd.read_csv('data/mine_Ni.csv')

In [16]:
As_data.head()

   Unnamed: 0  As_value  As_real_value         Lon        Lan
0           0  3.307374           1.06  128.093222  37.280500
1           1  1.920563           1.06  128.089139  37.279139
2           2  1.672941           1.06  128.082944  37.271694
3           3  0.966302           0.25  128.116056  37.280778
4           4  1.383530           3.64  128.115611  37.280806

In [17]:
As_data.loc[:,'As_value'] = round(As_data.loc[:,'As_value'], 3)
Cd_data.loc[:,'Cd_value'] = round(Cd_data.loc[:,'Cd_value'], 3)
Ni_data.loc[:,'Ni_value'] = round(Ni_data.loc[:,'Ni_value'], 3)

#### To shp

In [19]:
As_gdf = gpd.GeoDataFrame(As_data, geometry=gpd.points_from_xy(As_data['Lon'], As_data['Lan']))
Cd_gdf = gpd.GeoDataFrame(Cd_data, geometry=gpd.points_from_xy(Cd_data['Lon'], Cd_data['Lan']))
Ni_gdf = gpd.GeoDataFrame(Ni_data, geometry=gpd.points_from_xy(Ni_data['Lon'], Ni_data['Lan']))

In [20]:
As_gdf.to_file('shp/As/As_mine_data_round.shp')
Cd_gdf.to_file('shp/Cd/Cd_mine_data_round.shp')
Ni_gdf.to_file('shp/Ni/Ni_mine_data_round.shp')